<ul id="sidebar" class="nav nav-sidebar">
  <li class="active"><a [routerLink]="['/revenue']">Menu</a></li>
  <li><a [routerLink]="['/cards']">Cards</a></li>
  <li><a [routerLink]="['/coupons']">Coupons</a></li>
  <li><a href="/index.php?r=bill%2Findex">Bills</a></li>
  <li><a href="/index.php?r=warehousechange%2Findex">Ingredients movement</a></li>
  <li><a href="/index.php?r=moneychange%2Findex">Money movement</a></li>
  <li><a href="/index.php?r=message%2Findex">Messages</a></li>
  <li><a href="/index.php?r=site%2Fwarehouse">Balances</a></li>
  <li><a href="/index.php?r=site%2Fworkshift&amp;type=0">Close change</a></li>
  <li><a href="/index.php?r=site%2Flogout" data-method="post">Logout (admin)</a></li>
</ul>